<!-- profileDropdown.html -->
<div class="dropdown">
    <button class="btn btn-light dropdown-toggle" id="profileDropdown" data-bs-toggle="dropdown">
        <i class="bi bi-person-circle fs-4"></i>
        <span class="d-none d-lg-inline fw-semibold" id="userName">John</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
        <li><a class="dropdown-item" href="profile.html">Profile</a></li>
        <li><a class="dropdown-item signOutBtn" href="#">Logout</a></li>
    </ul>
</div>